version: 2
jobs:
  build:
    working_directory: ~/rollup-plugin-vue
    docker:
      - image: circleci/node:8.5.0
    steps:
      - checkout
      - run: 
          name: Install yarn
          command: curl -o- -s -L https://yarnpkg.com/install.sh | bash
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Install package dependencies
          command: yarn --no-progress
      - run:
          name: Rebuild node-sass
          command: npm rebuild node-sass
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
  test:
    docker:
      - image: circleci/node:8.5.0
    steps:
      - checkout
      - run:
          name: test
          command: npm test
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
